albumentations
fastapi
grad-cam
matplotlib
numpy
opencv-python
pandas
Pillow
pytest
python-multipart
reportlab
requests
scikit-learn
streamlit
tensorboard
timm
torch
torchvision
tqdm
uvicorn[standard]

